/* Profile.css or a global CSS file */
.my-masonry-grid,
.athlete-masonry-grid {
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}

.grid-sizer,
.grid-item {
  width: 25%; /* Adjust this percentage to change the number of columns */
  margin-bottom: 30px; /* gutter size */
}

.grid-item {
  margin-left: 30px; /* gutter size */
}
