/* app/styles/Profile.css or an imported CSS file */

.my-masonry-grid {
  display: flex;
  margin-left: -20px; /* Adjust this based on gutter size */
  width: auto;
}

.grid-sizer {
  width: 25%; /* Adjust to set the number of columns */
}

.grid-item {
  width: 25%; /* Must match the grid-sizer width */
  margin-left: 30px; /* Gutter size, must match JS gutter value */
  margin-bottom: 30px; /* Gutter size */
}

/* Adjust the spacing between grid items */
.grid-item > * {
  width: 100%;
  margin: 0;
}
